* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: red;
  display:flex;
}

.logo {
  width: 25%;
  height: 100%;
  background-color: blue;
}

.logo a {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  background-color: green;
}

.menu .menubar {
  height: 100%;
  width: 100%; 
}

.menu .menubar ul {
  width: 75%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menubar ul li {
  list-style: none;
  /* padding-bottom: 3%; */
  height: 100%;  
  display: flex;
  align-items: center;
}

.menubar ul li a {
  text-decoration: none;
  color: magenta;
  font-size: 1.5vw;
  /* position: absolute; */
  /* height: 7%; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: static !important;
}

.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.menu .menubar ul li .submenu {
  display: none;
  position: absolute;
  top:10%;
  background: magenta;
  border: 1px solid black;
  width: 20%;
  height: auto;
  flex-direction:column;
  padding:5px 0;
  z-index: 10;
}

.menu .menubar ul li .submenu li{
  padding:8px;
  list-style:none;
  padding-bottom: 10%;
}

.menu .menubar ul li .submenu li a{
  font-size:1vw;
  color: white;
}

.menu .menubar ul li:hover .submenu {
  display: block;
}

.menu .menubar ul .underline_current > a {
    text-decoration: underline;
    text-decoration-color: red;
}

@media (max-width: 576px) {
  .header {
    height:5%;
    background: white;
  }

  .header .logo {
    width:50%;
    background-color: white;
  }

  .header .logo a {
    width:50%;
    background-color: white;
    justify-content: none;
    padding-left: 20%;
  }

  .header .menu {
    width:50%;
    background-color: white;
  }
  
  .menu .menubar {
    height: 0%;
    width:0%;
  }
  
  .menu .menubar ul {
    display:none;
    flex-direction: column;
    top: 0%;
    padding: 0px;
    width:100%;
    height: auto;
  }

  .menu .menubar ul li {
    padding: 5px;
  }

  .menu .menubar ul li a {
    position: static !important;
    display: inline-block;
  }

  /* hamburger ke lie */
  .menu .mobilebar {
    width:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12px;
  }

  .menu .mobilebar .hamburger {
    width: 100%;
    height: 100%;
    /* border-radius: 6px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(0,0,0,0.06);
  }

  .menu .mobilebar .hamburger span {
    display: block;
    width: 22px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    box-shadow: 0 7px 0 #000, 0 -7px 0 #000;
  }

  /* when menu-open, show vertical menu block */
  .menu.mobile-open .menubar ul {
    display: flex;
    background: rgba(255,255,255,0.98);
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    z-index: 999;
    flex-direction: column;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    padding: 12px 0;
  }

  /* submenu behavior on mobile: initially hidden, revealed when li.has-submenu open */
  .menu .menubar ul li .submenu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #f3cbe6; /* softer magenta */
    display: none;
    padding: 8px 0;
    box-shadow: none;
    padding: 0px;
    padding-bottom: 0px;
  }

  .menu .menubar ul li .submenu li a {
    font-size: 1.5vw;
  }

  .menu .menubar ul li.open-submenu > .submenu {
    display: block;
  }

  /* add small chevron toggle (we'll add button via JS) */
  .submenu-toggle {
    background: transparent;
    border: none;
    font-size: 1.5vw;
    padding: 0 6px;
    cursor: pointer;
  }

  /* underline current link style tweak for mobile */
  .menu .menubar ul .underline_current > a {
    text-decoration: underline;
    text-decoration-color: red;
  }
}
