* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: red;
  display:flex;
}

.logo {
  width: 25%;
  height: 100%;
  background-color: blue;
}

.logo a {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  background-color: green;
}

.menu .menubar {
  height: 100%;
  width: 100%; 
}

.menu .menubar ul {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menubar ul li {
  list-style: none;
  padding-bottom: 3%;
}

.menubar ul li a {
  text-decoration: none;
  color: magenta;
  font-size: 1.5vw;
  position: absolute;
}

.menu .mobilebar {
  height: 100%;
  width: 0%;
}

.submenu {
  position: absolute;
  top: 0%;
  left: 0;
  background: #fff;
  min-width: 160px;
  display: none;
  z-index: 999;
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);
}

.submenu li {
  padding: 0;
}

.submenu li a {
  display: block;
  padding: 8px 12 px;
  color: #333;
  font-size: 0.5vw;
  text-decoration: none;
  white-space: nowrap;
}

.submenu li a:hover {
  background:#eee;
}

.menubar li a:hover .submenu {
  display: block;
}
