* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 10%;
  background-color: red;
  display:flex;
}

.logo {
  width: 25%;
  height: 100%;
  background-color: blue;
}

.logo a {
  height: 100%;
  width: 100%;
  display:flex;
  justify-content: center;
}

.logo a img {
  width: auto;
  height: auto;
}

.menu {
  width: 75%;
  height: 100%;
  background-color: green;
}

.menu .menubar {
  height: 100%;
  width: 100%; 
}

.menu .menubar ul {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.menubar ul li {
  list-style: none;
  padding-bottom: 3%;
}

.menubar ul li a {
  text-decoration: none;
  color: magenta;
  font-size: 1.5vw;
  position: absolute;
}

.menubar .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: black;
  min-width: 160px;
}

.menubar li:hover > .submenu{
  display: block;
}

.submenu li {
  position: relative;
}

/* SUBMENU LINKS */
.submenu li a{
  color: white;
  padding: 10px 14px;
  display: block;
  text-decoration: none;
}

/* NESTED dropdown (level 2) */
.submenu .submenu{
  top: 0;
  left: 100%;
}

.menu .mobilebar {
  height: 100%;
  width: 0%;
}


